[Interface]
Address = {{ wireguard_master }}
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wireguard_priv['content'] | b64decode | replace('\n', '') }}

